{% extends '::base.html.twig' %}
{% block titulo %}
    <h1 class="page-title">Editar Jornada</h1>
{% endblock %}
{% block body -%}
    {{ form(edit_form) }}


    
        <a href="{{ path('jornada') }}" class="btn btn-primary">
            Volver a la lista
        </a>
    
    {{ form(delete_form) }}

{% endblock %}
