{% extends '::base.html.twig' %}

{% block titulo %}
    <h1 class="page-title">Asignar curso a pensum</h1>
{% endblock %}

{% block body -%}

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('pensum', {'id': entity.Pensum.id}) }}">
            Regresar al pensum
        </a>
    </li>
</ul>
{% endblock %}
