{% extends '::base.html.twig' %}
{% block titulo %}
    <h1 class="page-title"> Cargar Docentes </h1>
{% endblock %}
{% block body %}
  <h3>Cargar Archivo </h3>
  <form role="form" method="post" enctype="multipart/form-data" action='{{path('cargararchivo_home')}}'>
      <div class="input-group">
          <label class="sr-only">Archivo</label>
          <input type="file" name="archivo" class="form-control" />
          <p class="help-block">Carge archivo en formato .xls</p>
    </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Cargar
            </label>
            <label>
                <input type="checkbox"> Visualizar
            </label>
        </div>
    <button type="submit" class="btn btn-default">Subir</button>  
   
  </form>
  <hr/>
{% endblock %}


