{% extends '::base.html.twig' %}

{% block titulo %}
    <h1 class="page-title">Editar asignación de cursos a la carrera</h1>
{% endblock %}

{% block body -%}
    {{ form_javascript(edit_form) }}    
    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
    <a href="{{ path('campuscarrera_show',{'id':entity.CampusCarrera.id}) }}">
            Regresar a la carrera
        </a>
            </li>
</ul>
{% endblock %}
