{% extends '::base.html.twig' %}
{% block titulo %}
    <h1 class="page-title">Crear Carrera</h1>
{% endblock %}
{% block body -%}
        <a href="{{ path('carrera') }}" class="btn btn-primary">
            Volver a la lista
        </a>
{% endblock %}
