{% extends '::base.html.twig' %}

{% block titulo %}
    <h1 class="page-title">Nueva pregunta</h1>
{% endblock %}

{% block body -%}

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('evaluacion_show', {'id':entity.Evaluacion.id}) }}">
            Regresar a la evaluación
        </a>
    </li>
</ul>
{% endblock %}
