{% extends '::base.html.twig' %}

{% block titulo %}
    <h1 class="page-title">Lista de cursos</h1>
{% endblock %}

{% block body -%}
    
            <div class="table-bordered">
                {{ addDataTable(dataTable) }}
            </div>
        </div>
        <br/>

            <a href="{{ path('curso_new') }}" class="btn btn-primary">
                Nuevo curso
            </a>
    {% endblock %}

