{% extends '::base.html.twig' %}

{% block titulo %}
    <h1 class="page-title">Nuevo curso</h1>
{% endblock %}

{% block body -%}

    {{ form(form) }}
        <a href="{{ path('curso') }}" class="btn btn-primary">
            Regresar a la lista
        </a>
{% endblock %}
