{% extends '::base.html.twig' %}
{% block titulo %}
    <h1 class="page-title">Lista de catedráticos</h1>
{% endblock %}
{% block body -%}
<div class="table-responsive">
    
            <div class="table-bordered">
                {{ addDataTable(dataTable) }}
            </div>
        </div>
        <br/>
        <ul>
        <li>
            <a href="{{ path('catedratico_new') }}">
                Nuevo catedrático
            </a>
        </li>
    </ul>
    {% endblock %}
