{% extends '::base.html.twig' %}
{% block titulo %}
    <h1 class="page-title">Creación de Campus</h1>
{% endblock %}
{% block body -%}


    {{ form(form) }}

       

        <a href="{{ path('campus') }}" class="btn btn-primary">
            Volver al listado
        </a>
   
</ul>
{% endblock %}
